## Import Data

In [7]:
import numpy as np
import pandas as pd

inputs_train = pd.read_csv('inputs_train_lower_dimension.csv', index_col = 0)
loan_data_targets_train = pd.read_csv('loan_data_targets_train.csv', index_col = 0)
inputs_train.head()

,grade:A,grade:B,grade:C,grade:D,grade:E,grade:F,home_ownership:OWN,home_ownership:MORTGAGE,addr_state:NM_VA,addr_state:NY,...,annual_inc:30K-40K,annual_inc:40K-50K,annual_inc:50K-60K,annual_inc:60K-70K,annual_inc:70K-80K,annual_inc:80K-90K,annual_inc:90K-100K,annual_inc:100K-120K,annual_inc:120K-140K,annual_inc:>140K
321284,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
68126,0,0,1,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
137748,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
228145,0,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
320995,0,1,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0

## Build a Logistic Regression Model with P-Values

### Beyond auto feature selection, one thing we'd love to do is be able to decide what features are best retained from the chi2 or anova, etc. For example, based on computing p-values. That is, any var with p-value < 0.05 should be on our choice list, i.e., it's statistically significant.

### Since we have also done fine-classing, where one or more of the finer categories that make up the original independent var are significant, then we'd retain all of the peer categories that make up the original independent variable. To do this, we have to compute p-values. Hence, we override the sklearn fit function as follows.

In [8]:
#   P values for sklearn logistic regression.

#   Class to display p-values for logistic regression in sklearn.

from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import make_pipeline
from sklearn.feature_selection import SelectKBest, chi2
import scipy.stats as stat

class LogisticRegression_with_p_values:

    """
    This class overrides the linera_model.LinearRegression class
    function, fit(). The custom fit() fuction is then used to 
    return alongside other stats, p-values.

    """
    def __init__(self,*args,**kwargs):#,**kwargs):
        self.model = LogisticRegression(*args,**kwargs)#,**args)

    def fit(self,X,y):
        
        self.model.fit(X,y)
        
        #### Get p-values for the fitted model ####
        denom = (2.0 * (1.0 + np.cosh(self.model.decision_function(X))))
        denom = np.tile(denom,(X.shape[1],1)).T
        F_ij = np.dot((X / denom).T,X) ## Fisher Information Matrix
        Cramer_Rao = np.linalg.inv(F_ij) ## Inverse Information Matrix
        sigma_estimates = np.sqrt(np.diagonal(Cramer_Rao))
        z_scores = self.model.coef_[0] / sigma_estimates # z-score for eaach model coefficient
        p_values = [stat.norm.sf(abs(x)) * 2 for x in z_scores] ### two tailed test for p-values
        
        self.coef_ = self.model.coef_
        self.intercept_ = self.model.intercept_
        self.p_values = p_values

In [10]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

pd.options.display.max_rows = None

#   Integrate the class into a ML pipeline

reg = LogisticRegression_with_p_values()
selection = SelectKBest(chi2, k=inputs_train.shape[1])
ml_pipe = make_pipeline(selection, reg)

#   Hence, ml_pipe {SelectKBest > LogisticRegression_with_p_values}
ml_pipe.fit(inputs_train, loan_data_targets_train)

#   But glue the intercept and the coefficients together into a list
names =["Intercept"] + list(inputs_train.columns.values)
coefficients = pd.DataFrame(np.append(np.array(ml_pipe[-1].intercept_), np.transpose(ml_pipe[-1].coef_)), \
    columns=['coeffs'])['coeffs'].tolist()
d = {'Feature name': names, 'Coefficients': coefficients, 'P-Value': ['NaN'] + ml_pipe[-1].p_values}
summary_table = pd.DataFrame(data=d)
print(summary_table)

/home/olumide/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
/home/olumide/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

                           Feature name  Coefficients       P-Value
0                             Intercept     -1.045570           NaN
1                               grade:A      1.042289   8.33696e-30
2                               grade:B      0.874150   5.53017e-47
3                               grade:C      0.676292   3.48325e-33
4                               grade:D      0.515324   6.77241e-22
5                               grade:E      0.332800   3.97404e-12
6                               grade:F      0.157324     0.0016699
7                    home_ownership:OWN      0.091454   5.51849e-06
8               home_ownership:MORTGAGE      0.100867   1.68381e-15
9                      addr_state:NM_VA      0.048835      0.127286
10                        addr_state:NY      0.091661   0.000144693
11         addr_state:OK_TN_MO_LA_MD_NC      0.058300     0.0116192
12                        addr_state:CA      0.097879    3.7624e-06
13               addr_state:UT_KY_AZ_NJ      0.086897   0.000452863
14            addr_state:AR_MI_PA_OH_MN      0.157287   2.78658e-12
15            addr_state:RI_MA_DE_SD_IN      0.109836    0.00022136
16                  addr_state:GA_WA_OR      0.201663   3.83839e-14
17                     addr_state:WI_MT      0.280375   5.11387e-09
18                        addr_state:TX      0.244541   8.42192e-21
19                     addr_state:IL_CT      0.300235   1.00148e-24
20         addr_state:KS_SC_CO_VT_AK_MS      0.322323   1.00291e-25
21         addr_state:WV_NH_WY_DC_ME_ID      0.526134   3.72417e-23
22     verification_status:Not Verified      0.090424   6.04012e-10
23  verification_status:Source Verified     -0.006286      0.640674
24                  purpose:credit_card      0.284188   5.88022e-24
25           purpose:debt_consolidation      0.168897   6.30977e-11
26           purpose:oth__med__vacation      0.218774   1.83146e-12
27  purpose:major_purch__car__home_impr      0.272671   1.92657e-18
28                initial_list_status:w      0.048476   0.000201707
29                              term:36      0.089086   1.80022e-10
30                         emp_length:1      0.188406     6.407e-11
31                       emp_length:2-4      0.215881   5.94896e-15
32                       emp_length:5-6      0.173932   2.98977e-09
33                       emp_length:7-9      0.152069   1.27297e-07
34                        emp_length:10      0.208336   9.20074e-15
35               mths_since_issue_d:<38      1.115246  6.81061e-200
36             mths_since_issue_d:38-39      0.908696  1.92434e-169
37             mths_since_issue_d:40-41      0.814568  5.10423e-142
38             mths_since_issue_d:42-48      0.601952  6.96267e-101
39             mths_since_issue_d:49-52      0.436356   8.14265e-47
40             mths_since_issue_d:53-64      0.200925   1.77612e-12
41             mths_since_issue_d:65-84     -0.047192     0.0979593
42                      int_rate:<9.548      1.013122   1.16685e-38
43                int_rate:9.548-12.025      0.596102   1.08984e-40
44                int_rate:12.025-15.74      0.339071   2.88782e-20
45                int_rate:15.74-20.281      0.112885   0.000100079
46  mths_since_earliest_cr_line:141-164      0.071521    0.00422661
47  mths_since_earliest_cr_line:165-247      0.038655     0.0527714
48  mths_since_earliest_cr_line:248-270      0.074796    0.00415993
49  mths_since_earliest_cr_line:271-352      0.117999   4.21595e-07
50     mths_since_earliest_cr_line:>352      0.152953   9.12814e-09
51                        delinq_2yrs:0      0.012108      0.818643
52                      delinq_2yrs:1-3      0.001983      0.970649
53                     inq_last_6mths:0      0.813493   7.57592e-13
54                   inq_last_6mths:1-2      0.665881   4.18473e-09
55                   inq_last_6mths:3-6      0.468526   3.86718e-05
56                         open_acc:1-3      0.060990      0.670976
57                        open_acc:4-12     -0.077306      0.579141
58                       open_acc:13-17     -0.132567      0.343802
59                       open_acc:18-22     -0.161095      0.254201
60                       open_acc:23-25     -0.137629      0.348475
61                       open_acc:26-30     -0.168726      0.268311
62                        open_acc:>=31     -0.172075      0.308016
63                          pub_rec:3-4      0.251185    0.00520782
64                          pub_rec:>=5      0.195781      0.264001
65                      total_acc:28-51     -0.022339      0.109954
66                       total_acc:>=52     -0.036150      0.350623
67                   annual_inc:20K-30K     -0.028405       0.50286
68                   annual_inc:30K-40K      0.041524      0.309755
69                   annual_inc:40K-50K      0.152407   0.000193798
70                   annual_inc:50K-60K      0.218928   1.24608e-07
71                   annual_inc:60K-70K      0.320008   4.34111e-14
72                   annual_inc:70K-80K      0.399599   2.41668e-20
73                   annual_inc:80K-90K      0.493498   7.03708e-28
74                  annual_inc:90K-100K      0.506406   1.28297e-27
75                 annual_inc:100K-120K      0.588749   2.64583e-37
76                 annual_inc:120K-140K      0.704440   3.27089e-41
77                     annual_inc:>140K      0.666576   8.44778e-44

## Fit the Final Model

In [12]:
inputs_train_with_ref_cat = inputs_train.loc[: , ['grade:A',
'grade:B',
'grade:C',
'grade:D',
'grade:E',
'grade:F',
'home_ownership:OWN',
'home_ownership:MORTGAGE',
'addr_state:NM_VA',
'addr_state:NY',
'addr_state:OK_TN_MO_LA_MD_NC',
'addr_state:CA',
'addr_state:UT_KY_AZ_NJ',
'addr_state:AR_MI_PA_OH_MN',
'addr_state:RI_MA_DE_SD_IN',
'addr_state:GA_WA_OR',
'addr_state:WI_MT',
'addr_state:TX',
'addr_state:IL_CT',
'addr_state:KS_SC_CO_VT_AK_MS',
'addr_state:WV_NH_WY_DC_ME_ID',
'verification_status:Not Verified',
'verification_status:Source Verified',
'purpose:credit_card',
'purpose:debt_consolidation',
'purpose:oth__med__vacation',
'purpose:major_purch__car__home_impr',
'initial_list_status:w',
'term:36',
'emp_length:1',
'emp_length:2-4',
'emp_length:5-6',
'emp_length:7-9',
'emp_length:10',
'mths_since_issue_d:<38',
'mths_since_issue_d:38-39',
'mths_since_issue_d:40-41',
'mths_since_issue_d:42-48',
'mths_since_issue_d:49-52',
'mths_since_issue_d:53-64',
'mths_since_issue_d:65-84',
'int_rate:<9.548',
'int_rate:9.548-12.025',
'int_rate:12.025-15.74',
'int_rate:15.74-20.281',
'mths_since_earliest_cr_line:141-164',
'mths_since_earliest_cr_line:165-247',
'mths_since_earliest_cr_line:248-270',
'mths_since_earliest_cr_line:271-352',
'mths_since_earliest_cr_line:>352',
'delinq_2yrs:0',
'delinq_2yrs:1-3',
'inq_last_6mths:0',
'inq_last_6mths:1-2',
'inq_last_6mths:3-6',
'open_acc:1-3',
'open_acc:4-12',
'open_acc:13-17',
'open_acc:18-22',
'open_acc:23-25',
'open_acc:26-30',
'open_acc:>=31',
'pub_rec:3-4',
'pub_rec:>=5',
'total_acc:28-51',
'total_acc:>=52',
'annual_inc:20K-30K',
'annual_inc:30K-40K',
'annual_inc:40K-50K',
'annual_inc:50K-60K',
'annual_inc:60K-70K',
'annual_inc:70K-80K',
'annual_inc:80K-90K',
'annual_inc:90K-100K',
'annual_inc:100K-120K',
'annual_inc:120K-140K',
'annual_inc:>140K']]

# Here ref_categories is the remove list, such that it equals
# reference categories for the statistically insignificant vars
# (if any) and the variables themselves. For statistically insignificant,
# see list here: 
# https://docs.google.com/spreadsheets/d/1B_oSsxVBaeFmC2K4sKuF8u_MqL0bkW260CA7-NsDYBI/edit?usp=sharing

ref_categories = [
'delinq_2yrs:0',
'delinq_2yrs:1-3',
'open_acc:1-3',
'open_acc:4-12',
'open_acc:13-17',
'open_acc:18-22',
'open_acc:23-25',
'open_acc:26-30',
'open_acc:>=31',
'total_acc:28-51',
'total_acc:>=52',]

inputs_train = inputs_train_with_ref_cat.drop(ref_categories, axis = 1)
inputs_train.head()

,grade:A,grade:B,grade:C,grade:D,grade:E,grade:F,home_ownership:OWN,home_ownership:MORTGAGE,addr_state:NM_VA,addr_state:NY,...,annual_inc:30K-40K,annual_inc:40K-50K,annual_inc:50K-60K,annual_inc:60K-70K,annual_inc:70K-80K,annual_inc:80K-90K,annual_inc:90K-100K,annual_inc:100K-120K,annual_inc:120K-140K,annual_inc:>140K
321284,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
68126,0,0,1,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
137748,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
228145,0,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
320995,0,1,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0

In [13]:
#   We fit the final model. No selections again.

reg2 = LogisticRegression_with_p_values()
ml_pipe = make_pipeline(reg2)
ml_pipe.fit(inputs_train, loan_data_targets_train)
names =["Intercept"] + list(inputs_train.columns.values)
coefficients = pd.DataFrame(np.append(np.array(ml_pipe[-1].intercept_), np.transpose(ml_pipe[-1].coef_)), \
    columns=['coeffs'])['coeffs'].tolist()
d = {'Feature name': names, 'Coefficients': coefficients, 'P-Value': ['NaN'] + ml_pipe[-1].p_values}
summary_table = pd.DataFrame(data=d)
print(summary_table)

/home/olumide/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
/home/olumide/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

                           Feature name  Coefficients       P-Value
0                             Intercept     -1.064552           NaN
1                               grade:A      1.013538   2.31089e-28
2                               grade:B      0.863516   8.34086e-47
3                               grade:C      0.669065    2.2344e-33
4                               grade:D      0.510834   2.65982e-22
5                               grade:E      0.331630   8.46209e-13
6                               grade:F      0.158028     0.0010351
7                    home_ownership:OWN      0.088225   1.14035e-05
8               home_ownership:MORTGAGE      0.095653   3.36505e-14
9                      addr_state:NM_VA      0.047503      0.137453
10                        addr_state:NY      0.086733   0.000308045
11         addr_state:OK_TN_MO_LA_MD_NC      0.055734     0.0155084
12                        addr_state:CA      0.098922    2.7175e-06
13               addr_state:UT_KY_AZ_NJ      0.084267   0.000648741
14            addr_state:AR_MI_PA_OH_MN      0.152322   1.07387e-11
15            addr_state:RI_MA_DE_SD_IN      0.106012    0.00035472
16                  addr_state:GA_WA_OR      0.200187   5.06766e-14
17                     addr_state:WI_MT      0.283406   3.56737e-09
18                        addr_state:TX      0.239946   3.63978e-20
19                     addr_state:IL_CT      0.294896   4.93027e-24
20         addr_state:KS_SC_CO_VT_AK_MS      0.318487    2.9227e-25
21         addr_state:WV_NH_WY_DC_ME_ID      0.518614   1.14542e-22
22     verification_status:Not Verified      0.093153   1.72971e-10
23  verification_status:Source Verified     -0.001645      0.902683
24                  purpose:credit_card      0.270854   3.05504e-22
25           purpose:debt_consolidation      0.156781   9.22201e-10
26           purpose:oth__med__vacation      0.216207   2.33726e-12
27  purpose:major_purch__car__home_impr      0.270219   2.20202e-18
28                initial_list_status:w      0.048644   0.000191469
29                              term:36      0.090161   8.06602e-11
30                         emp_length:1      0.183319   1.19899e-10
31                       emp_length:2-4      0.212870   6.86317e-15
32                       emp_length:5-6      0.172080   3.13304e-09
33                       emp_length:7-9      0.151482   1.11504e-07
34                        emp_length:10      0.207824   6.40355e-15
35               mths_since_issue_d:<38      1.093532  1.08625e-193
36             mths_since_issue_d:38-39      0.885561  1.04238e-162
37             mths_since_issue_d:40-41      0.792460  8.31328e-136
38             mths_since_issue_d:42-48      0.584219    4.4125e-96
39             mths_since_issue_d:49-52      0.421950   3.53616e-44
40             mths_since_issue_d:53-64      0.187865   3.73879e-11
41             mths_since_issue_d:65-84     -0.053817     0.0588317
42                      int_rate:<9.548      1.040410   1.92955e-40
43                int_rate:9.548-12.025      0.607472   1.59351e-42
44                int_rate:12.025-15.74      0.348035    1.8465e-21
45                int_rate:15.74-20.281      0.118436   4.16079e-05
46  mths_since_earliest_cr_line:141-164      0.070044     0.0048783
47  mths_since_earliest_cr_line:165-247      0.030652      0.118164
48  mths_since_earliest_cr_line:248-270      0.062843     0.0144743
49  mths_since_earliest_cr_line:271-352      0.105347   3.89471e-06
50     mths_since_earliest_cr_line:>352      0.136274   1.75919e-07
51                     inq_last_6mths:0      0.819846   1.45837e-38
52                   inq_last_6mths:1-2      0.665178   4.28613e-26
53                   inq_last_6mths:3-6      0.461429   4.81246e-13
54                          pub_rec:3-4      0.259845    0.00385712
55                          pub_rec:>=5      0.202841      0.245854
56                   annual_inc:20K-30K     -0.052289      0.205322
57                   annual_inc:30K-40K      0.012014       0.76248
58                   annual_inc:40K-50K      0.117898    0.00299221
59                   annual_inc:50K-60K      0.180587   7.15823e-06
60                   annual_inc:60K-70K      0.276920   1.77551e-11
61                   annual_inc:70K-80K      0.356001   2.52592e-17
62                   annual_inc:80K-90K      0.447706   2.06548e-24
63                  annual_inc:90K-100K      0.457707   5.67183e-24
64                 annual_inc:100K-120K      0.537553   5.79155e-33
65                 annual_inc:120K-140K      0.656918   1.87376e-37
66                     annual_inc:>140K      0.610194   5.96675e-39

## Save the Final Model

In [14]:
#   Here we export our model to a 'SAV' file with file name 'pd_model.sav'
import pickle
pickle.dump(reg2, open('pd_model.sav', 'wb'))